// ----------------------------------------------

// 		Main Settings

// ----------------------------------------------


body {
	overflow-x: hidden;
}

h1 {
	font-family: Roboto, Helvetica, sans-serif;
}

h2 {
	font-family: Roboto, Helvetica, sans-serif;
	float: left;
}

h6 {
  font-family: Roboto, Helvetica, sans-serif;

  float: left;
	font-size: 14px;
	padding-left: 5px;
}


a {
  font-family: Roboto, Helvetica, sans-serif;

}

p {
  font-family: Roboto, Helvetica, sans-serif;
  text-align: left;
}