// ----------------------------------------------

// 		Main Settings

// ----------------------------------------------


body {
	overflow-x: hidden;
    font-family: Roboto, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}